@import "highlight.js/styles/base16/solarized-light.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  overflow: hidden; /* important */
}

/* Improve line spacing for markdown */
.markdown-body table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown-body blockquote {
  border-left: 4px solid #ddd;
  padding-left: 12px;
  color: #666;
  margin-left: 0;
}
